rep = no-repeat
pos = rep top left
true-story = lol
vendors = webkit official
html
	min-height 100%
	min-width 100%
	box-sizing border-box
	margin 0
body
	@extend html
	font 100px Comic Sans MS
	color red
	background blue rlg(#f0f, #0ff8, #8888 10%)// linear(#f00, #AAA)
	//background linear(#f0f, #0ff) linear(#f00, #00f)
	padding 8px