-c-anim-prop(prop, values, transition = false)
	support = prefixes(transition ? "transition" : "animation")
	
	for prefix in support
		add-property(prefix + prop, values)
	{prop} values

animation()
	-c-anim-prop("animation", arguments)
animation-name()
	-c-anim-prop("animation-name", arguments)
animation-duration()
	-c-anim-prop("animation-duration", arguments)
animation-timing-function()
	-c-anim-prop("animation-timing-function", arguments)
animation-iteration-count()
	-c-anim-prop("animation-iteration-count", arguments)
animation-direction()
	-c-anim-prop("animation-direction", arguments)
animation-play-state()
	-c-anim-prop("animation-play-state", arguments)
animation-delay()
	-c-anim-prop("animation-delay", arguments)
animation-fill-mode()
	-c-anim-prop("animation-fill-mode", arguments)

transition()
	-c-anim-prop("transition", arguments, true)
transition-property()
	-c-anim-prop("transition-property", arguments, true)
transition-duration()
	-c-anim-prop("transition-duration", arguments, true)
transition-timing-function()
	-c-anim-prop("transition-timing-function", arguments, true)
transition-delay()
	-c-anim-prop("transition-delay", arguments, true)